{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Students Currently in the Database  {% endblock %}</h1>
    <hr>
    {% for student in students %}
        <h2>{{ student['fname'] + " " + student['lname'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID#:{{ student['id'] }}</h2>
        <span class="badge badge-primary">{{ student['pronouns'] }}</span>
        <span class="badge badge-secondary">EMAIL: {{ student['email'] }}</span>
        <span class="badge badge-info">Mailing Address: {{ student['mail_add'] }}</span>
        <span class="badge badge-warning">GPA: {{ student['gpa'] }}</span>
        <hr>
    {% endfor %}

{% endblock %}
