{% extends 'base.html' %}

{% block content %}
    <h2 class="font-weight-light text-uppercase p-5 mb-2 bg-success text-white">{% block title %} All Records:  {% endblock %}</h2>
    <hr>
    {% for student in students %}
        <h3>{{ student['fname'] + " " + student['lname'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID#:{{ student['id'] }}</h3>
        <span class="badge badge-primary">{{ student['pronouns'] }}</span>
        <span class="badge badge-secondary">EMAIL: {{ student['email'] }}</span>
        <span class="badge badge-info">Mailing Address: {{ student['mail_add'] }}</span>
        <span class="badge badge-warning">GPA: {{ student['gpa'] }}</span>
        <hr>
    {% endfor %}

{% endblock %}
